html {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}
body {
    background-color: #2f2f2f;
    color: white;
}
h1, h2, h3 {
    font-weight: bold;
    color: #0062fe;
}
hr {
    border: 2px solid #0062fe;
    margin: 0;
}
a {
    color: #0062fe;
    text-decoration: none;
}
a:hover {
    color: darkred;
}
img.img-hover:hover {
    opacity: 0.3;
}
div#title {
    text-align: center;
}
div#title hr {
    width: 65%;
    margin: 0 auto 0 auto;
}
div#main {
    display: flex;
}
aside {
    flex: 30%;
    padding: 20px 35px 35px 35px;
}
aside p {
    margin: 0 0 10px 30px;
}
article#resume {
    flex: 70%;
    padding: 30px;
}
article#resume p {
    line-height: 30px;
}
article#resume section {
    display: flex;
    padding: 20px;
    align-items: baseline;
}
article#resume section h2 {
    flex: 20%;
    text-align: right;
}
article#resume section p {
    flex: 80%;
    text-align: justify;
    padding: 20px;
}
section#personal-information {
    display: flex;
    flex-direction: column;
}
section#personal-information p {
    display: flex;
    align-items: center;
}
section#personal-information img {
    width: 9%;
    margin-right: 20px;
}
div.images img {
    width: 25%;
    margin: 10px;
}
@media screen and (max-width: 900px) {
    div#main {
        flex-direction: column;
    }
    article#resume section {
        flex-direction: column;
        width: 100%;
    }
    article#resume h2, article#resume p {
        flex: 100%;
    }
}