html {
    font-family: hack, monospace;
}
body {
    background-color: #2f2f2f;
    color: white;
}
h1 {
    font-weight: bold;
    color: #0062fe;
}
img {
    border-radius: 50%;
    border: 8px solid #2f2f2f;
    width: 100px;
    padding: 0;
    margin: 0;
}
img:hover {
    opacity: 0.4;
}
div#lang-selector {
    position: relative;
    top: 100px;
    width: max-content;
    margin: 0 auto 0 auto;
    padding-bottom: 1%;
    background-color: #2f2f2f;
    border: 4px solid #0062fe;
    border-radius: 10px;
    box-shadow: 18px 18px 7px #252525;
}
div.title {
    text-align: center;
    margin: 0 20px 0 20px;
}
div.flags-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
a {
    color: transparent;
}