html {
    font-family: hack, monospace;
    margin: 0;
}

body {
    background-color: #2f2f2f;
    color: white;
}

h1, h2, h3 {
    font-weight: bold;
    color: #0062fe;
}

hr {
    border: 2px solid #0062fe;
    margin: 0;
}

a {
    color: #0062fe;
    text-decoration: none;
}

a:hover {
    font-weight: bolder;
}

/* ------------------ HEADER */

div#title {
    text-align: center;
}

div#title hr {
    width: 65%;
    margin: 0 auto 0 auto;
}

/* ------------------ ASIDE */

aside {
    flex: 30%;
    padding: 20px 35px 35px 35px;
}

aside p {
    margin: 0 0 10px 30px;
}

/* Personal Information */
article#personal-information p {
    display: flex;
    align-items: center;
}

article#personal-information img {
    width: 9%;
    margin-right: 20px;
}

/* Social Networks */
.social-net-icons-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
}

.social-net-icons {
    width: 80px;
    padding: 0 20px 15px 20px;
}

/* ------------------ MAIN */

main {
    display: flex;
}

section#resume {
    flex: 70%;
    padding: 30px;
}

section#resume article {
    display: flex;
    padding: 20px;
    align-items: baseline;
}

section#resume article h2 {
    flex: 20%;
    text-align: right;
}

section#resume article p {
    flex: 80%;
    text-align: justify;
    padding: 20px;
    line-height: 33px;
}

/* Skills */
article#skills-columns {
    position: relative;
    left: 20%;
    width: 80%;
    flex-flow: row wrap;
    align-content: center;
}

div.skill-category {
    padding-left: 20px;
}

div.skill-category h3 {
    margin: 0
}

div.skill-category ul {
    list-style: none;
    padding-left: 10px;
    padding-right: 30px;
    line-height: 27px;
    margin: 10px 0 0 0;
}

/* Work Experience section style */
article#work-experience h3 {
    color: white;
    margin-bottom: 0;
    padding-bottom: 5px;
}

article#work-experience hr {
    width: 50%;
    border-color: white;
    margin-bottom: 20px;

}

article#work-experience div.work-detail {
    padding: 0 0 20px 20px;
    display: flex;
    flex-flow: row;
}

article#work-experience div.work-period {
    font-style: italic;
    text-align: right;
    padding-right: 70px;
    width: 20%;
}

@media screen and (max-width: 900px) {
    
    main {
        flex-direction: column;
    }
    
    section#resume {
        padding: 0;
    }
    
    section#resume section {
        flex-direction: column;
        width: 100%;
    }
    
    section#resume h2, section#resume article p {
        flex: 100%;
        margin: 0;
        text-align: left;
    }

    article#skills-columns ul {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    section#resume article {
        flex-direction: column;
    }
    article#skills-columns {
        flex-direction: column;
        left: 0;
    }
}